<div class="container">
<h1>Stupid Coaching </h1>
<ul>
 <li>
  <div class = "question" >
    <div class="text"> <%= @ask %> </div>
    <div class="author"> -You </p>
  </div>
 </li>

<li class="answer" >
  <div >
    <div class="text"><%= @answer  %> </div>
    <div class="author"> -Your coach </p>
  </div>
 </li>

</ul>

<a href="http://localhost:3000/ask"> Go back to question</a>

</div>
